---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import InfoGanadores from '@/components/InfoWins.astro';
---

<Layout title="Parense de manos - Ganadores" description="Parense de manos, es un Evento de boxeo Amateur desarrollado en Argentina por Lucas Rodriguez">
	<Header/>
	<main class="pt-20 max-w-[1024px] mx-auto">
		<h1 class="text-4xl font-bold text-center pb-4 uppercase tracking-widest">Ganadores</h1>
		<InfoGanadores/>
	</main>
	<Footer/>
</Layout>