---
import VideoHero from "./VideoHero.astro";
---

<section class="w-full relative">
  <h1 class="text-4xl font-bold text-center pb-4 uppercase tracking-widest text-pretty">Esto ha sido la primera edición de Párense de Manos</h1>
  <p class="text-white text-center text-2xl pb-4">Los esperamos en 2024 con mucho más</p>
  <VideoHero/>
</section>