---
import InitialImages from "./InitialImages.astro"
---
<section class="flex flex-col items-center">
  <h1 class="text-4xl font-bold text-center pb-4 uppercase tracking-widest">Parense de manos</h1>
  <h2 class="text-2xl text-white text-center uppercase">Hacemos historia con los guantes puestos</h2>
  <InitialImages/>
  <a class="text-lg text-gray-300 text-center mt-4 hover:text-[#5B3F84] cursor-pointer no-underline" href="https://www.twitch.tv/luquitarodriguez" target="_blank" rel="noopener noreferrer" title="Twitch Lucas Rodriguez">SEGUILO EN DIRECTO EN TWITCH.TV/luquitarodriguez</a>
</section>
