---
import luchadores1 from '../../public/imagenes/luchadores1.png'
import presentadores from '../../public/imagenes/presentadores.png'
import luchadores2 from '../../public/imagenes/luchadores2.png'
---
<section class="flex flex-col items-center">
  <h1 class="text-4xl font-bold text-center pb-4 uppercase tracking-widest">Parense de manos</h1>
  <h2 class="text-2xl text-white text-center uppercase">Hacemos historia con los guantes puestos</h2>
  <picture class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 justify-items-center px-2 pt-10">
    <img class="order-2 md:order-1 w-[320px] rounded-lg"  src={luchadores2.src} alt="Imagen de los luchadores">
    <img class="order-1 sm:order-3 md:order-2 w-[320px] rounded-lg" src={presentadores.src} alt="Imagen de los presentadores">
    <img class="order-3 sm:order-2 md:order-3 w-[320px] rounded-lg" src={luchadores1.src} alt="Imagen de los luchadores">
  </picture>
  <a class="text-lg text-gray-300 text-center mt-4 hover:text-[#5B3F84] cursor-pointer no-underline" href="https://www.twitch.tv/luquitarodriguez" target="_blank" rel="noopener noreferrer" title="Twitch Lucas Rodriguez">SEGUILO EN DIRECTO EN TWITCH.TV/luquitarodriguez</a>
</section>
