<div class="hidden md:flex items-center text-base justify-center">
  <ul class="flex cursor-pointer">
    <li>
      <a href="/Ganadores" class="mr-5 text-white hover:text-gray-400 hover:border-b-2 hover:border-[#c3ac7c]" title="Ganadores">Ganadores</a>
    </li>
    <li>
      <a href="/Peleas" class="mr-5 text-white hover:text-gray-400 hover:border-b-2 hover:border-[#c3ac7c]" title="Peleas">Peleas</a>
    </li>
    <li>
      <a href="/Pesajes" class="mr-5 text-white hover:text-gray-400 hover:border-b-2 hover:border-[#c3ac7c]" title="Pesos">Pesajes</a>
    </li>
    <li>
      <a href="/Pesajes" class="mr-5 text-white hover:text-gray-400 hover:border-b-2 hover:border-[#c3ac7c]" title="Pesos">Cantantes</a>
    </li>
    <a href="https://www.youtube.com/watch?v=4vy1Jv0dAmc" target="_blank" rel="noopener noreferrer" class="inline-flex items-center text-white bg-[#c3ac7c] hover:bg-[#9d8a63] border-0 py-1 px-3 focus:outline-none rounded-full text-base md:mt-0" title="Evento completo en YouTube">Evento Completo <span class="ml-1">&rarr;</span> </a>
  </ul>
</div>