<nav id="mobile-menu" class="bg-black/40 backdrop-blur-sm w-full flex-col items-center text-center text-2xl fixed top-0 left-0 right-0 h-dvh place-content-center hidden z-10">
  <a href="/Ganadores"  class="uppercase my-4 hover:outline-none text-white" title="Ganadores">Ganadores</a>
  <a href="/Peleas"  class="uppercase my-4 hover:outline-none text-white" title="Peleas">Peleas</a>
  <a href="/Pesajes"  class="uppercase my-4 hover:outline-none text-white" title="Pesos">Pesajes</a>
  <a href="/Pesajes"  class="uppercase my-4 hover:outline-none text-white" title="Pesos">Cantantes</a>
  <a href="https://www.youtube.com/watch?v=4vy1Jv0dAmc" target="_blank" rel="noopener noreferrer" class="my-4 whitespace-nowrap text-center lg:hidden w-fit lg:text-2xl font-medium text-white no-underline px-5 py-3 bg-[#c3ac7c] hover:bg-[#9d8a63] rounded-full uppercase" title="Evento completo en YouTube">Evento Completo <span class="ml-1">&rarr;</span> </a>
</nav>