---
import '@fontsource-variable/foldit';
interface Props {
	title: string;
	description: string;
}

const { title } = Astro.props;
const { description } = Astro.props
import iconPage from '../../public/iconos/logo1.ico'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href={iconPage} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background: #0f0f0f;
	}
	h1 {
    font-family: 'Foldit Variable', system-ui;
  }
</style>
