---
import pelea1 from '../../../public/peleas/pelea1.webp'
---

<div class="w-full h-full">
  <section class="flex flex-col md:flex-row items-center justify-evenly">
    <div class="flex gap-3 md:grid md:grid-cols-2">
      <div class="grid col-span-1 justify-items-center">
        <h2 class="uppercase text-white font-bold text-4xl">Palito</h2>
        <article class="text-center my-3">
          <p class=" text-[#E26698] text-2xl uppercase font-bold">Peso</p>
          <span class=" text-[#698CEF] text-xl">72.2 KG</span>
        </article>
        <article class="text-center my-3">
          <p class=" text-[#E26698] text-2xl uppercase font-bold">Edad</p>
          <span class=" text-[#698CEF] text-xl">21 AÑOS</span>
        </article>
        <article class="text-center my-3">
          <p class=" text-[#E26698] text-2xl uppercase font-bold">Altura</p>
          <span class=" text-[#698CEF] text-xl">1.85 CM</span>
        </article>
      </div>
      <div class="grid col-span-1 justify-items-center">
        <h2 class="uppercase text-white font-bold text-4xl">Valentin</h2>
        <article class="text-center my-3">
          <p class="text-[#E26698] text-2xl uppercase font-bold">Peso</p>
          <span class=" text-[#698CEF] text-xl">65.3 KG</span>
        </article>
        <article class="text-center my-3">
          <p class="text-[#E26698] text-2xl uppercase font-bold">Edad</p>
          <span class=" text-[#698CEF] text-xl">19 AÑOS</span>
        </article>
        <article class="text-center my-3">
          <p class="text-[#E26698] text-2xl uppercase font-bold">Altura</p>
          <span class=" text-[#698CEF] text-xl">1.79 CM</span>
        </article>
      </div>
    </div>
    <picture>
      <img class="rounded-lg h-auto md:h-96 w-full" src={pelea1.src} alt="Primer combate de la velada de parense de manos - Palito vs Valentin">
    </picture>
  </section>
</div>